.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
    margin: 20px 0;
}
.products .card{
    margin: 10px auto;
}
.products .card-img-top{
    height: 250px;
    width: 100%;
}
.products .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .card-text{
    height: 70px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
/* anh thumnail detail page*/
.galary img
{
     width: 20%;
     height: 20%;
}

.row
{
    margin: 20px;
}
/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active{
    border:solid 3px rgb(111, 199, 221);
    padding: 2px;
}
@media  (max-width : 650px)
{
   .galary img
   {
        width: 25%;
    
   }
    .galary h2
   {
    color: blue;
   }
}
